#root {
    /* Color */
    --surface: #040403;
    --original-text: #9DDBAD;
    --coded-text: ##8EB897;
    --green: #436436;
    --other-green: #9CD18A;

    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    background-color: var(--surface);
}

@font-face {
    font-family: vt;
    src: url(VT323-Regular.ttf);
}

header{
    margin-top: 0;
    width: 100%;
    height: 30%;
    background-color: #436436;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    background-image: url(/bg.jpg);
    color: var(--original-text);
}

.title{
    font-family: vt, monospace;
    font-size: 60px;
}

#container{
    position: relative;
    width: 950px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #1a6c2d;
    margin-top: 30px;
    border-radius: 7px;
    border:2px solid #253221;
}

.input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    width: 90%;
}

#textInput{
    height: 250px;
    width: 350px;
    border-radius: 7px;
}

.textOutput{
    height: 250px;
    width: 350px;
    border-radius: 7px;
}

.shift{
    height: 20px;
    width: 70px;
}

.submitBtn{
    background-color: var(--original-text);
}
